[flake8]
exclude =
    .git,
    .github,
    .mypy_cache,
    __pycache__,
    migrations,
    docs,
    archive

extend-ignore =
    # allow `elif` block
    RET505,
    # allow `else` block
    RET506

max-line-length = 120
max-complexity = 10